@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/login_background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(5px);
    opacity: 0.5;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 600px;  /* Adjusted width for better form distribution */
    margin: auto;
}

.header {
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: normal;
}

form {
    width: 100%;  /* Make form take full width of container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    width: 100%;  /* Full width for input fields */
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1em;
    box-sizing: border-box;  /* Include padding and border in element's total width and height */
}

.button-container {
    width: 100%;  /* Full width for button container */
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;  /* Adjust button width to fit side by side */
    padding: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="button"] {
    background-color: #5bc0de;
    color: white;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="button"]:hover {
    background-color: #31b0d5;
}

.footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

.footer p {
    margin: 2px 0;
}
