<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Aula Individual</title>
    <link rel="stylesheet" type="text/css" href="addAulas.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="background"></div>
<div class="container">

    <div class="content">
        <img src="images/gym-logo1.png" alt="GymMaster Logo" class="logo">
        <h1>Adicionar aula Individual</h1>
        <form id="addAulaIndividualForm" method="post" action="/submitAulaIndividual">
            <div class="form-group">
                <label for="nome">Nome da aula</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" id="data" name="data" required>
            </div>
            <div class="form-group">
                <label for="hora">Hora</label>
                <input type="time" id="hora" name="hora" required>
            </div>
            <div class="form-group">
                <label for="duracao">Duração</label>
                <select id="duracao" name="duracao" required>
                    <option value="30m">30 minutos</option>
                    <option value="1h">1 hora</option>
                    <option value="1h30m">1 hora e 30 minutos</option>
                    <option value="2h">2 horas</option>
                </select>
            </div>
            <input type="hidden" name="funcionarioId" th:value="${funcionario.idFuncionario}">
            <div class="form-group">
                <label for="socio">Sócio</label>
                <select id="socio" name="socioId" required>
                    <option value="">Escolha o sócio</option>
                    <tr th:each="socio : ${socios}">
                        <option th:value="${socio.idSocio}" th:text="${socio.nome}"></option>
                    </tr>
                </select>
            </div>
            <div class="form-group" th:if="${funcionario.idTipofuncionario == 3}">
                <label for="funcionario">Instrutor</label>
                <select id="funcionario" name="funcionarioId" required>
                    <option value="">Escolha o instrutor</option>
                    <div th:each="funcionario : ${funcionarios}">
                        <option th:value="${funcionario.idFuncionario}" th:text="${funcionario.nome}"></option>
                    </div>
                </select>
            </div>
            <div class="button-container">
                <button class="btn btn-add" type="submit">Adicionar aula</button>
                <button class="btn btn-back" type="button" onclick="window.history.back()">Voltar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
