<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Sócio</title>
    <link rel="stylesheet" type="text/css" href="rececionista.css">
</head>
<body>
<div class="content">
    <div class="background"></div>
    <div class="header">
        <img src="images/gym-logo1.png" alt="GymMaster Logo" class="logo">
        <h1>Detalhes do Sócio</h1>
    </div>
    <div class="details-container">
        <div class="details-row"><strong>ID:</strong> <span th:text="${socio.idSocio}"></span></div>
        <div class="details-row"><strong>Nome:</strong> <span th:text="${socio.nome}"></span></div>
        <div class="details-row"><strong>Contacto:</strong> <span th:text="${socio.contacto}"></span></div>
        <div class="details-row"><strong>Morada:</strong> <span th:text="${socio.rua} + ', ' + ${socio.nPorta} + ', ' + ${socio.codPostal}"></span></div>
        <div class="details-row"><strong>Ativo:</strong> <span th:text="${socio.ativo ? 'Sim' : 'Não'}"></span></div>
        <div class="details-row"><strong>Plano:</strong> <span th:text="${plano.tipo + ' - ' + plano.descricao + ' - ' + plano.valor} + '€'"></span></div>
    </div>
    <div class="button-container">
        <a href="/rececionista" class="btn btn-back">Voltar</a>
        <a th:href="@{/editarSocio(id=${socio.idSocio})}" class="btn btn-edit">Editar</a>
        <a th:href="@{/emitirRecibo(idSocio=${socio.idSocio})}" class="btn btn-payment">Registar pagamento</a>
    </div>
</div>
</body>
</html>
