<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GymMaster - Registar</title>
    <link rel="stylesheet" type="text/css" href="register.css">
</head>
<body>
<div class="background"></div>
<div class="container">
    <div class="content">
        <div class="header">
            <img src="images/gym-logo1.png" alt="GymMaster Logo" class="logo">
        </div>
        <h1>GymMaster</h1>
        <h2>Registar</h2>
        <form action="#" th:action="@{/register}" method="post">
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmPassword" placeholder="Confirmar Password" required>
            <input type="text" name="rua" placeholder="Rua" required>
            <input type="text" name="nPorta" placeholder="Nº Porta" required>
            <input type="text" name="codPostal" placeholder="Código Postal" required>
            <input type="text" name="contacto" placeholder="Contacto" required>
            <select name="idTipofuncionario" required>
                <option value="" disabled selected>Tipo de Utilizador</option>
                <option value="1">Instrutor</option>
                <option value="2">Responsável Instrutores</option>
                <option value="3">Rececionista</option>
            </select>
            <button type="button" onclick="location.href='/login'">Voltar ao Login</button>
            <button type="submit">Registrar</button>
        </form>
        <div th:if="${registerError}" th:text="${registerError}" class="error"></div>
    </div>
</div>
<footer>
    <div class="footer">
        <p>&copy; 2024 GymMaster</p>
        <p>Francisco Santos Nº 29375</p>
        <p>João Araújo Nº 24682</p>
    </div>
</footer>
</body>
</html>