<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="header" th:include="fragments/header :: header"></div>
<div class="content">
    <div th:switch="${idTipoFuncionario}">
        <div th:case="'1'" th:include="fragments/instrutor :: instrutorContent"></div>
        <div th:case="'2'" th:include="fragments/responsavel :: responsavelContent"></div>
        <div th:case="'3'" th:include="fragments/rececionista :: rececionistaContent"></div>
        <div th:case="*">
            <p>Role desconhecido. Por favor, contate o administrador.</p>
        </div>
    </div>
</div>
<div class="footer" th:include="fragments/footer :: footer"></div>
</body>
</html>